{
  "importOrder": [
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "^@/common/(.*)$",
    "^@/modules/(.*)$",
    "^@/context/(.*)$",
    "^@/hooks/(.*)$",
    "^@/contents/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "bracketSameLine": false,
  "jsxSingleQuote": true,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "semi": true,
  "tabWidth": 2,
  "printWidth": 120,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "requirePragma": false,
  "endOfLine": "auto",
  "useTabs": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
